* {
    box-sizing: border-box;
}

.container {
    text-align: center;
    padding: 16px;
    background-color: white;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.login {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}